<footer class="footer bg-dark py-2 mt-auto">
    <!-- To understand why we have given these classes, look at the following video or review flexbox-->
    <!--https://www.udemy.com/course/the-web-developer-bootcamp/learn/lecture/22291514#questions-->   
    <div class="container">
        <span class="text-muted">&copy CottageBNB 2022</span>
    </div>
</footer>