.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container > * {
  margin-bottom: 2em;
}

.img-card-top {
    margin: auto;
    width: 100%;
    height: 45%;
    border-radius: 1em;
}

.card {
    width: 15rem;
    border-radius: 1em;
}

#cluster-map {
    /* width: 95%;
margin: auto; */
}